html {
    height: 100%;
    width: 100%;
  }

  #mainTitle{
    font-size: 112%;
    margin: 3% 0px;
  }

  h1{
    font-size: 110%;
    margin-bottom: 0px;
  }

  #prompt{
    font-size: 170%;
    margin: 0px;
    margin-bottom: 4%;
    text-align: center;
  }
  
  body {
    background-image: url('/images/logo.png');
    background-size: 100%;
    background-blend-mode: saturation;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .title, .titleBox {
    font-size: 50px;
    text-align: center;
  }
  

  .normal {
    transition: 0.3s;
    width: 97%;
    height: 130px;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 250%;
    margin: 3px 1.5%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .selector,.selectorOn {
    transition: 0.3s;
    width: 10%;
    height: 300%;
    margin: 0%;
    font-size: 150%;
    padding: 2% 0% 0px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px;
    text-align: center;
    vertical-align: middle;
  }
  
  
  .titleBox {
    width: 100%;
    margin: none;
    height: 100%;
    font-size: 200%;
  }
  
  .navButton {
    transition: 0.3s;
    width: 29vw;
    height: 100px;
    border: none;
    border-radius: 10px;
    padding: 15px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 170%;
    margin: 1vw;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #navigationButtons{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .subtitle {
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin: 7% 0px;
  }
  
  img {
    width: 50%;
  }
  
  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

#vocabularyDisplay {
    width: 100%;
    padding: none;
    background-color: transparent;
}

.imageContainer {
    width: 100%;
    height: 200px; /* Set a fixed height for the image container */
    margin-bottom: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow to maintain aspect ratio */
}

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure the image maintains aspect ratio */
    cursor: pointer; /* Make the image look clickable */
}

#vocabularyDisplay p {
    font-size: 250%;
    margin-top: 10px;
    cursor: pointer; /* Make the text look clickable */
}

.normText{
    text-align: center;
    font-size: 150%;
    padding: 10px;
}

ol{
    text-align: left;
    font-size: 120%;

}


video{
    width:90%;
    padding-left: 5%;
}

#helpTitle{
    font-size: 125%;
    text-decoration: underline;
    margin: none;
    width: 65%;
    float: left;
    text-align: center;
  }

#help{
  transition: 0.3s;
  width:13vw;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100%;
  padding:none;
  text-align: center;
  text-decoration: none;
  font-size: 300%;
  margin: 2%;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
}

h1{
  margin: none;
  width: 65%;
  float: left;
  text-align: center;
}

#prompt{
  clear: both;
}

#quizButton{
  width: 92vw;
  height: 100px;
}

#quizBox{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  width: 100%;
  padding-top: 5vh;
}

#question{
  font-size: 200%;
  margin-top: 3vh;
  height: 10vh;
}

.multipleChoiceButton{
  width: 94vw;
  transition: 0.3s;
  height: 12vh;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 250%;
  margin: 1vh 1vw;
  cursor: pointer;
}

#pointsDisplay{
  font-size: 250%;
  margin-top: 3vh;
  text-align: left;
  display: inline-block;
  width: 30%;
  margin-left: 10%;
  margin-right: none;
  padding-left: 5%;
}
#finishButton {
  transition: 0.3s;
  width: 45%;
  height: 12vh;
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
  margin: 2%;
  cursor: pointer;
}

#darkModeOuterContainer,#lightModeOuterContainer{
  width: 40vw;
  margin-left: 30vw;
  height: 8vh;
  top: 4vh;
  margin-bottom: 2vh;
  border-radius: 2000px;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

#darkModeInnerContainer,#lightModeInnerContainer{
  border-radius: 200px;
  background-color: rgb(245, 197, 109);
  width: 92%;
  height: 84%;
  display: flex;
}



#darkModeOuterContainer{
  background-color: #010d1a;
}

#darkModeInnerContainer{
  background:#0b013559;
  background-image: url("/images/stars.png");
  background-repeat:repeat-x;
  background-size:120%;
  justify-content: right;
}

#darkModeSwitch{
  border-radius: 100%;
  border: none;
  background-color: rgba(123, 119, 124, 0.322);
  box-shadow: inset 10px 8px 6px -5px #ffffff, 
  inset 20px 20px 50px 43px rgba(48, 47, 49, 0.9), 
  inset 8px 8px 14px 2px rgba(123, 119, 124, 0.322),
  8px 10px 15px 1px rgb(0, 0, 0); 
  height: 86%;
  aspect-ratio: 1/1;
  margin-top: 2%;
  margin-right: 4.5%;
  cursor: pointer;
}

#lightModeOuterContainer{
  background-color: white;
}

#lightModeInnerContainer{
  background-color: rgba(55, 158, 206, 0.753);
  justify-content: left;
  background-image: url(/images/clouds.png);
  background-size: 150%;
}

#lightModeSwitch{
  border-radius: 100%;
  border: none;
  background-color:rgb(226, 146, 27);
  box-shadow: 0 0 10px 5px orange,
  0 0 60px orange,
  0 0 20px 5px rgb(255, 94, 0),
  inset 0 0 45px 5px yellow;
  height: 86%;
  aspect-ratio: 1/1;
  margin-top: 2%;
  margin-left: 4.5%;
  cursor: pointer;
}
