html {
  height: 100%;
  width: 100%;
}

#mainTitle{
  font-size: 125%;
}

body {
  background-image: url('/images/logo.png');
  background-size: 20%;
  backface-visibility:visible;
  background-blend-mode:saturation;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #040b19;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title, .titleBox {
  color: #c8a023;
  font-size: 50px;
  text-align: center;
}

.normal:hover{
  background-color: #745c14;
  color: #f0e68c;
}

.navButton:hover {
  background-color: #745c14;
  color: #f0e68c;
}

.normal {
  transition: 0.3s;
  width: 99%;
  height: 150px;
  background-color: #041424;
  border: none;
  border-radius: 10px;
  color: #c8a023;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 250%;
  margin: 4px 0.5%;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selector {
  transition: 0.3s;
  width: 11%;
  height: 300%;
  margin: 0%;
  font-size: 150%;
  padding: 10px;
  padding-bottom: 0px;
  border: none;
  background-color: #02213f;
  color: #c8a023;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0px;
  text-align: center;
  vertical-align: middle;
}

.selector:hover {
  background-color: #040b19;
  cursor: pointer;
}

.titleBox {
  background-color: #041424;
  width: 100%;
  margin: none;
  height: 100%;
  font-size: 200%;
}

.navButton {
  transition: 0.3s;
  width: 20%;
  height: 200px;
  background-color: #041424;
  border: none;
  border-radius: 10px;
  color: #c8a023;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 300%;
  margin: 2%;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navigationButtons{
  justify-content: center;
  align-items: center;
  display: flex;
}


.arrowButton {
  transition: 0.3s;
  width: 20%;
  background-color: transparent;
  border: none;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 300%;
  margin: 2% 2px;
  cursor:auto;
}

.arrowImage {
  cursor: pointer;
}

.subtitle {
  color: #f0e68c;
  font-size: 250%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

img {
  width: 50%;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

#vocabularyDisplay {
  width: 30%;
  padding: none;
  background-color: transparent;
}

.imageContainer {
  width: 100%;
  height: 300px; /* Set a fixed height for the image container */
  margin-bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide overflow to maintain aspect ratio */
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensure the image maintains aspect ratio */
  cursor: pointer; /* Make the image look clickable */
}

#vocabularyDisplay p {
  font-size: 200%;
  color: #c8a023;
  margin-top: 10px;
  cursor: pointer; /* Make the text look clickable */
}

.normText{
color: #c8a023;
text-align: center;
font-size: 170%;
padding: 2% 20%;
clear: both;
}

ol{
color: #c8a023;
text-align: left;
font-size: 200%;
width: 30%;
float: left;
padding-left: 10%;
}

a{
color: #2285e0;
}

video{
width:20%;
padding-left: 25%;
float: left;
}

#helpSubtitle{
width: 40%;
float: left;
margin-top: 0%;
margin-bottom: 2%;
}

#help{
transition: 0.3s;
width:4%;
aspect-ratio: 1/1 ;
background-color: #041424;
border: none;
border-radius: 100%;
color: #c8a023;
padding:none;
text-align: center;
text-decoration: none;
font-size: 300%;
margin: 2%;
cursor: pointer;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
float: left;
}

#help:hover {
background-color: #745c14;
color: #f0e68c;
}


#helpTitle{
font-size: 150%;
text-decoration: underline;
margin: none;
width: 84%;
float: left;
}

h1{
margin: none;
width: 84%;
float: left;
}

#prompt{
clear: both;
}